body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2{
    display: flex;
    text-align: center;
    justify-content: center;
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

input[type="number"],
select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}